 .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }
        .neon-glow:hover {
            box-shadow: 0 0 15px rgba(13, 242, 89, 0.4);
            border-color: #0df259;
        }
        .gold-icon {
            color: #FFD700;
        }
            .glass-nav {
      backdrop-filter: blur(16px);
      background-color: rgba(10, 15, 12, 0.8);
    }